:root{
  --mainColor: #3a3a47;
  --lightColor:#3a3a47;
  --mainLight: #f3f3f3;
  --mainDark:#232528;
  --mainAccent:#d9ff00;
}

body{
  font-family: "Oswald",sans-serif !important;
  background: var(--mainLight) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Metal Mania', cursive;
letter-spacing: 0.3rem;
text-transform: uppercase;
}

.text-color{
  color: var(--mainAccent);
}

.text-bright{
  color: var(--lightColor);
}

