:root{
  --mainColor: #3a3a47;
  --lightColor:#3a3a47c0;
  --mainLight: #f3f3f3;
  --mainDark:#232528;
  --mainAccent:#d9ff00;
  --mainColorAccent:#ff3300;
}

body{
  font-family: "Oswald",sans-serif !important;
  background: var(--mainLight) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Metal Mania', cursive;
letter-spacing: 0.3rem;
text-transform: uppercase;
color: var(--mainColorAccent);
}

.text-color{
  color: var(--mainAccent);
  background-color: var(--mainColor);
  padding: 0.5rem;
}

.background-colorAccent{
  color: var(--mainAccent);
  background-color: var(--lightColor);
  
}

.text-colorAccent{
  color: var(--mainColorAccent);
  background-color: var(--mainColor);
  padding: 0.5rem 1rem 0.5rem 0 ;
  text-align: center;
}

.text-colorAccentWithoutBackground{
  color: var(--mainColorAccent);
}

.text-bright{
  color: var(--lightColor);
}

